extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et necessitatibus sed, minima cumque eaque inventore commodi ipsa aperiam quis vel asperiores eos tenetur, explicabo eveniet non quas, mollitia dignissimos? Atque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, consequatur blanditiis! Ullam ut odio blanditiis cupiditate, dolorum quas ex at corporis eveniet saepe possimus minima nostrum itaque. Expedita.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi ut dignissimos praesentium nihil distinctio quis necessitatibus sapiente deserunt fugiat architecto error, illo aut id libero corrupti. Tenetur et neque fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat reiciendis aperiam architecto sint animi velit fugiat accusamus? At rem minima earum? Aliquid eveniet aspernatur atque reiciendis, obcaecati tempora dolor eligendi.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                        img(src="img/icono_seguridad.svg" alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iure voluptatum eligendi sequi expedita cum exercitationem, suscipit est, commodi adipisci, vitae maiores molestiae laboriosam earum facere officiis ut delectus tenetur!
                .col-md-4 
                        img(src="img/icono_seguridad.svg" alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iure voluptatum eligendi sequi expedita cum exercitationem, suscipit est, commodi adipisci, vitae maiores molestiae laboriosam earum facere officiis ut delectus tenetur! 
                .col-md-4 
                        img(src="img/icono_seguridad.svg" alt="icono seguridad", class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi iure voluptatum eligendi sequi expedita cum exercitationem, suscipit est, commodi adipisci, vitae maiores molestiae laboriosam earum facere officiis ut delectus tenetur!                 